<h1>Projects</h1>
<a href="/add-skill" class="btn btn-primary">Add Projects</a>

<% if (skills) { %> <% if (skills.length > 0) { %>
<div class="row g-2 my-3">
  <% for( let index = 0; index < skills.length; index++ ) { %>
  <div class="col-md-4">
    <div class="card" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title"><%= skills[index].projectName %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <%= skills[index].projectTechStack %>
        </h6>
        <p class="card-text"><%= skills[index].projectDescription %></p>
        <p class="card-text">
          <strong>Key Skill:</strong>
          <%= skills[index].skillName %>
        </p>
        <p class="card-text">
          <strong>Skill Description:</strong>
          <%= skills[index].skillDescription %>
        </p>
        <a href="/edit/<%= skills[index]._id %>" class="btn btn-warning"
          >Edit Project</a
        >
        <a href="/delete/<%= skills[index]._id %>" class="btn btn-danger"
          >Delete Project</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
<% } %> <% } %>

<script src="/bootstrap.min.js"></script>
